 {% extends 'index.html' %}

{% load static %}

{% block titulo %} Farmapatria {% endblock titulo %}


{% block contenido %}


 <main class="site-content">
                <div class="page_header d-flex align-items-center">
                    <div class="container">
                        <section>
                            <h2>Experiencias.</h2>
                            <div class="breadcrumbs">
                                <a href="#">Inicio</a>
                                <span>Experiencias</span>
                            </div>
                        </section>
                    </div>
                </div><!-- /.page_header -->


                <div class="about-section mb-5">
                    <div class="container">
                        <div class="row justify-content-xl-between ">
                            <div class="col-xl-5 pr-xl-0 text-sm-left text-center">
                                <div class="row">
                                    <div class="col-xl-12 col-md-6 mb-xl-5">
                                        <img src="https://jhonq22.github.io/portafolio/assets/static/img/experiencias.jpg" alt="About us">
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <section>
                                    <h2>Experiencias</span></h2>
                                    <p>Durante el siglo XX, se contaba con un importante conocimiento de las especies vegetales de uso medicinal, plasmado en textos en los que se describe cada especie detalladamente, sus usos potenciales en materia de salud. Actualmente, ya iniciada la segunda década del siglo XXI, la medicina alopática o convencional, ha avanzado notablemente en buena parte del mundo, y muchos de estos avances están basados y extraídos del conocimiento originario que se ha tenido de plantas por parte de los grupos sociales en sus diferentes contextos.</p>
                                   <p>Sin embargo y aún con el avance de las moléculas sintéticas dentro del complejo médico farmacéutico industrial que hegemoniza, mercantiliza y opera el concepto de salud a través de la enfermedad (OMS), grandes sectores de la población de los países en desarrollo, todavía dependen de la medicina tradicional y de los medicamentos herbarios para su atención primaria. Según la declaración de Alma Ata (Kazajistán), en septiembre de 1978: la atención primaria en salud debe ser desarrollada con base a métodos y tecnologías sencillas, con fundamentos científicos y socialmente aceptables.</p>
                                   <p>En este punto, conviene aclarar que la noción de la “medicina tradicional” apunta a todo el conjunto de
conocimientos, saberes, aptitudes y prácticas basados en teorías, creencias y experiencias indígenas, campesinas y urbanas de las diferentes culturas, usados para la prevención y restitución de la salud.</p> 
                                   <p>El uso de las preparaciones herbarias de la medicina tradicional en general, ha sido bien establecido y ampliamente reconocido como inocuo y eficaz. No obstante, muchas de las especies vegetales de uso medicinal, no están exentas de contraindicaciones; de hecho, son poco recomendadas en niños muy pequeños, mujeres en situación de embarazo o de lactancia, o personas mayores con estados de insuficiencia hepática o renal. La medicina tradicional también tiene sus dosificaciones, que deben ser respetadas; hay que tener en cuenta el principio de que la diferencia entre una planta beneficiosa para la salud y una perjudicial, puede ser una cuestión de dosis.</p> 
                                   <p>Desde el año 2015, FARMAPATRIA se ha enfocado en contribuir con el rescate del legado, representación y el significado que tienen las plantas para la preservación de las especies y para la vida en comunidad, orientado por lo que el presidente Hugo Chávez llamó el vivir viviendo, y sin duda, continuado por el Presidente Nicolás Maduro en la ingente visión de construir el Estado Socialista.</p>  



                                </section>
                            </div>
                        </div>
                    </div>
                </div><!-- /.about-section -->
           

            
             
                  
              
            </main><!-- /.site-content -->




{% endblock contenido %}
