{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Medicust - Health and Medical HTML5 Template" />
        <meta name="author" content="Envalab" />
        <title>{% block titulo %} Farmapatria {% endblock titulo %}</title>
 <style>
   .card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

 </style>

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon.png" />
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet" />


       <!-- BOOK CSS -->
        <link href="https://jhonq22.github.io/portafolio/assets/static/css/book.css" rel="stylesheet"/>

        <!-- Bootstrap CSS -->
        <link href="https://jhonq22.github.io/portafolio/assets/static/css/bootstrap.min.css" rel="stylesheet" />
        <!-- FlatIcon CSS -->
        <link href="https://jhonq22.github.io/portafolio/assets/static/css/flaticon.css" rel="stylesheet" />
        <!-- IcoFont CSS -->
        <link href="https://jhonq22.github.io/portafolio/assets/static/css/icofont.min.css" rel="stylesheet" />
        <!-- Animate CSS -->
        <link href="https://jhonq22.github.io/portafolio/assets/static/css/animate.css" rel="stylesheet" />
        <!-- Owl Carousel CSS -->
        <link href="https://jhonq22.github.io/portafolio/assets/static/css/owl.carousel.css" rel="stylesheet" />
        <!-- Hamburgers CSS -->
        <link href="https://jhonq22.github.io/portafolio/assets/static/css/hamburgers.min.css" rel="stylesheet" />
        <!-- Style CSS -->
        <link href="https://jhonq22.github.io/portafolio/assets/static/css/style.css" rel="stylesheet" />
        <!-- Responsive CSS -->
        <link href="https://jhonq22.github.io/portafolio/assets/static/css/responsive.css" rel="stylesheet" />

            <link rel="stylesheet" href="https://jhonq22.github.io/portafolio/assets/static/css/catto.min.css">
            <link rel="stylesheet" href="https://jhonq22.github.io/portafolio/assets/static/css/izmir.css">
    </head>

    <body>
        <!-- page-wrapper start -->
        <div class="page-wrapper">
            <header>
                <div class="topbar d-none d-md-block">
                    <div class="container-xl">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-sm-5">
                                <p class="topbar-info">
                                    <i class="icofont-google-map"></i>
                                    <span>Parroquia Altagracia, Sede del IVSS, Edificio Anexo.</span>
                                </p>
                            </div>
                            <div class="col-sm-7 text-right">
                                <p class="topbar-info">
                                    <i class="icofont-envelope-open"></i>
                                    <span>farmacopea@gmail.com</span>
                                </p>
                                <p class="topbar-info">
                                    <i class="icofont-headphone-alt-1"></i>
                                    <span>0212-801-1339</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.topbar -->
                <nav class="navbar navbar-expand-lg main-nav sticky">
                    <div class="container-xl px-15 px-lg-0">
                        <a class="navbar-brand" href="index.html">
                            <img src="{% static 'img/logofp.png' %}" alt="Site Logo" style="height:80px;">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <div class="collapse navbar-collapse" id="main_menu">
                            <ul class="navbar-nav ml-auto">
                                <li class="active">
                                    <a href="{% url 'pagina:inicio' %}">Inicio</a>
                                </li>

                                  <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="pages_all" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Proyectos
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="pages_all">
                                        <li><a href="{% url 'pagina:nosotros' %}">Nosotros</a></li>
                                        <li><a href="{% url 'pagina:experiencias' %}">Experiencias</a></li>
                                   
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'pagina:noticias' %}">Publicaciones</a>
                                </li>
                                 <li>
                                    <a href="{% url 'pagina:talleres' %}">Talleres</a>
                                </li>

                                  <li>
                                    <a href="{% url 'pagina:eventos' %}">Eventos</a>
                                </li>

                                   <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="pages_all" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Multimedias
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="pages_all">
                                        <li><a href="{% url 'pagina:galerias' %}">Galeria</a></li>
                                        
                                   
                                    </ul>
                                </li>
                             
                              
                             
                            </ul>
                            <div class="d-block d-md-none">
                                <p class="topbar-info">
                                    <i class="icofont-google-map"></i>
                                    <span>Esquina Altagracia, Sede del IVSS, Edificio Anexo.</span>
                                </p>
                                <p class="topbar-info">
                                    <i class="icofont-envelope-open"></i>
                                    <span>farmacopea@gmail.com </span>
                                </p>
                                <p class="topbar-info">
                                    <i class="icofont-headphone-alt-1"></i>
                                    <span>0212-801-1339</span>
                                </p>
                            </div>
                            <span class="navbar-text">
                                <a href="contact.html" class="theme-btn">Redes Sociales</a>
                            </span>
                        </div>
                    </div>
                </nav>
            </header><!-- header -->








                   {% block contenido %}{% endblock contenido  %}

























            <footer>
                <div class="footer-lg">
                    <div class="container">
                        <div class="row justify-content-lg-between">
                            <div class="col-lg-3 col-md-6">
                                <div class="footer-col">
                                    <a href="#">
                                          <img src="{% static 'img/logofp.png' %}" alt="footer Logo">
                                    </a>
                               
                                    
                                </div>
                            </div>
                           
                          
                         
                        </div>
                    </div>
                </div><!-- /.footer-lg -->
                <div class="footer-bottom">
                    <p>Copyright 2020 <i class="icofont-heart-alt"></i> Farmapatria.</p>
                </div><!-- /.footer-bottom -->
            </footer>
        </div>
        <!-- page-wrapper end -->

        <div class="modal fade" id="popup-video">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe src="https://www.youtube.com/embed/uQBL7pSAXR8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Back2Top -->
        <div class="back2Top bg1 wave">
            <i class="icofont-dotted-up text-white"></i>
        </div>




        <!-- Required JavaScript Files -->
        <!-- jQuery JS -->
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Owl Carousel JS -->
        <script src="{% static 'js/owl.carousel.js' %}"></script>
        <!-- Wow.js -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- WayPoints JS -->
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <!-- CounterUp JS -->
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <!-- Smooth Scroll JS -->
        <script src="{% static 'js/SmoothScroll.js' %}"></script>
        <!-- Main.js -->
        <script src="{% static 'js/main.js' %}"></script>

         <!-- Magnific popup Js -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

        <script type="text/javascript">
            

            $(document).ready(function(){
  var zindex = 10;
  
  $("div.card").click(function(e){
    e.preventDefault();

    var isShowing = false;

    if ($(this).hasClass("show")) {
      isShowing = true
    }

    if ($("div.cards").hasClass("showing")) {
      // a card is already in view
      $("div.card.show")
        .removeClass("show");

      if (isShowing) {
        // this card was showing - reset the grid
        $("div.cards")
          .removeClass("showing");
      } else {
        // this card isn't showing - get in with it
        $(this)
          .css({zIndex: zindex})
          .addClass("show");

      }

      zindex++;

    } else {
      // no cards in view
      $("div.cards")
        .addClass("showing");
      $(this)
        .css({zIndex:zindex})
        .addClass("show");

      zindex++;
    }
    
  });
});
        </script>
    </body>
</html>
