 {% extends 'index.html' %}

{% load static %}

{% block titulo %} Farmapatria {% endblock titulo %}


{% block contenido %}



           
            <main class="site-content">
                <div class="hero-section">
                    <div class="container-lg h-100 px-lg-0">
                        <div class="row h-100 justify-content-lg-start justify-content-center align-items-center">
                            <div class="col-xl-12 col-lg-12">
                                <div class="hero-content">
                             
                                 <h2 class="">Bienvenidos a Farmacopea</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.hero-section -->
           
                
                
                <!-- /.cta-section -->
                <div class="service-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="section-header text-center col-lg-8">
                                <h2>Proyecto Farmacopea</h2>
                               
                            </div>
                        </div>
                    </div>

                    <div class="container-xl px-xl-0">
                        <div class="row no-gutters">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="service-card">
                                    <i class="flaticon-047-head"></i>
                                    <h2>Experiencias</h2>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="service-card">
                                    <i class="flaticon-049-glasses"></i>
                                    <h2>Formación</h2>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="service-card">
                                    <i class="flaticon-055-calendar-1"></i>
                                    <h2>Eventos</h2>
                                </div>
                            </div>
                          
                            
                           
                           
                           
                        </div>
                    </div>
                </div><!-- /.service-section -->
               

                <div class="fun-facts">
                    <div class="container-xl px-xl-0">
                        <div class="row justify-content-lg-between align-items-center">
                            <div class="col-xl-5 col-lg-6 pr-xl-0">
                                <section class="contact-methods">
                                    <h2>Encuéntranos</h2>
                                    <ul>
                                        <li>
                                           
                                            <span>+0212-801-1339</span>
                                        </li>
                                        <li>
                                            <span>farmacopea@gmail.com</span>
                                            <i class="icofont-envelope-open"></i>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col-lg-6">
                                <div class="fun-facts-area">
                                    <h2>Farmacopea.</h2>
                                    <p>
                                       Durante los años, 2015 y 2016, el Equipo Farmacopea, de FARMAPATRIA,C.A. ha ejecutado una de las tareas más importantes, como ha sido, el contacto y relación con investigadores, productores y procesadores de plantas medicinales y productos naturales, en gran parte del territorio nacional.
                                    </p>
                                    <ul class="clearfix">
                                       
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.fun-facts -->
                <div class="testimony-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="section-header text-center col-lg-8">
                                <h2>Ultimas Noticias</h2>
                            </div>
                        </div>
                    </div>

                   
                </div><!-- /.testimony-section -->
             

                    <div class="container-md px-md-0">
                        <div class="row">
                            <div class="slide-progress"></div>
                            <div class="blog-carousel owl-carousel">
                                <div class="blog-card d-flex flex-sm-row flex-column">
                                    <div class="the_post_thumbnail">
                                        <img src="img/blog/01.jpg"  />
                                    </div>
                                    <div class="blog-card-body">
                                        <span class="the_date">25, Enero, 2020</span>
                                        <h2 class="the_title">
                                            <a href="#">Orégano orejón, remedio natural.</a>
                                        </h2>
                                        <a href="#" class="the_permalink">Ir Publicación <i class="icofont-arrow-right"></i></a>
                                       
                                    </div>
                                </div>
                                <div class="blog-card d-flex flex-sm-row flex-column">
                                    <div class="the_post_thumbnail">
                                        <img src="img/blog/02.jpg"  />
                                    </div>
                                    <div class="blog-card-body">
                                        <span class="the_date">25, Enero, 2020</span>
                                        <h2 class="the_title">
                                            <a href="#">Manzanilla, una hierba poderosa</a>
                                        </h2>
                                        <a href="#" class="the_permalink">Ir Publicación <i class="icofont-arrow-right"></i></a>
                               
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.blog-section -->
            </main><!-- /.site-content -->




            {% endblock contenido %}